.app-button {
  .button();

  color: @color-white;
  background-color: @color-blue;

  &--current {
    background-color: @color-dark-blue;
  }

  &:hover {
    background-color: @color-dark-blue;
  }

  &:focus-visible {
    outline: 2px solid @color-grey;
  }

  &:active {
    background-color: @color-dark-blue;
    opacity: 0.3;
  }
}

.app-button--form {
  background-color: @color-light-grey;

  &:hover {
    background-color: @color-dark-grey;
  }

  &:focus-visible {
    outline: 2px solid @color-grey;
  }

  &:active {
    background-color: @color-dark-grey;
    opacity: 0.3;
  }
}

