.app-button {
  .button();

  color: @color-white;
  background-color: @color-blue;

  &--current {
    background-color: @color-dark-blue;
  }

  &--promotion {
    padding-top: 14px;
    padding-bottom: 15px;

    background-color: @color-light-grey;
    border: 2px solid @color-white;
  }

  &--form {
    background-color: @color-light-grey;
  }

  &:hover {
    background-color: @color-dark-blue;
  }

  &:active {
    background-color: @color-dark-blue;
    opacity: 0.3;
  }
}
