.app-button {
  .button();
  color: @color-white;
  background-color: @color-blue;

  &:hover {
    background-color: @color-dark-blue;
  }

  &:focus-visible {
    background-color: @color-dark-blue;
    outline: none;
  }

  &:active {
    background-color: @color-dark-blue;
    opacity: 0.3;
  }
}

.app-button--form {
  background-color: @color-light-grey;

  &:hover {
    background-color: @color-dark-grey;
  }

  &:focus-visible {
    background-color: @color-dark-grey;
    outline: none;
  }

  &:active {
    background-color: @color-dark-grey;
    opacity: 0.3;
  }
}
