.catalog__item:not(:last-of-type) {
  margin-bottom: 39px;

  @media (min-width: @desktop-width) {
    margin-bottom: 77px;
  }
}

.catalog__title {
  margin: 0 auto;
  width: 309px;
  margin-bottom: 35px;

  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    width: auto;
    margin-bottom: 45px;
  }
}

.catalog__brend {
  margin-bottom: 38px;

  @media (min-width: @desktop-width) {
    .wrapper();
    margin-bottom: 77px;
  }
}

.catalog__brend-wrapper {
  @media (max-width: (@desktop-width - 1)) {
    box-sizing: border-box;
    width: calc(100vw - 21.25px);
    padding-left: 16px;
    margin-bottom: 36px;
    overflow: hidden;

    &--transform {
      padding-right: 16px;
    }
  }
}

.catalog__brend-list {
  @media (max-width: (@desktop-width - 1)) {
    // transform: translateX(-240px);
    // position: relative;
    // width: 100vw;
  }
}

.catalog__toggles {
  max-width: 228px;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.catalog__products {
  .wrapper();
}

