.contacts__list {
  .list();
}

.contacts__item {
  &--adress {
    padding-left: 29px;

    background-image: url("../../img/contacts/place.svg");
    background-size: 13px 15px;
    background-position: left center;
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      padding-left: 26px;
    }
  }

  &--schedule {
    padding-left: 29px;

    background-image: url("../../img/contacts/time.svg");
    background-size: 13px 15px;
    background-position: left center;
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      padding-left: 31px;
    }
  }

  &--phone {
    padding-left: 30px;

    background-image: url("../../img/contacts/phone.svg");
    background-size: 15px 15px;
    background-position: left center;
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      padding-top: 0;
      padding-left: 28px;
    }
  }

  &--email {
    padding-left: 29px;

    background-image: url("../../img/contacts/mail.svg");
    background-size: 15px 15px;
    background-position: left center;
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      padding-left: 26px;
    }
  }
}

.contacts__schedule-list {
  .list();
}

.contacts__phone-list {
  .list();
}

.contacts__phone-link {
  .button();
}

.contacts__link {
  .button();
}
