.main-nav {
  min-height: 309px;

  @media (min-width: @desktop-width) {
    min-height: auto;
  }
}

.main-nav__container {
  position: relative;
  padding-top: 26px;
}

.main-nav--opened .main-nav__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  background-color: @color-blue;
}

.main-nav__contacts-title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.main-nav--closed .main-nav__contacts-title {
  display: none;
}

.main-nav__toggle-container {
  position: absolute;
  top: 29px;
  left: @mobile-padding;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__toggle {
  .button();

  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--closed .main-nav__toggle {
  width: 42px;
  height: 37px;

  background-image: url("../../img/btn-open.svg");
  background-size: 42px 37px;
}

.main-nav--opened .main-nav__toggle {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: @color-white;
  background-image: url("../../img/btn-close.svg");
  background-size: 15px 15px;
  background-position: center;
}

.main-nav__contacts-list {
  display: grid;
  gap: 23px;
  justify-items: left;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.03em;

  @media (min-width: @desktop-width) {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 0;
    min-height: 57px;

    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: -0.04em;
  }
}

.main-nav--closed .main-nav__contacts-list {
  @media (max-width: (@desktop-width - 1)) {
    gap: 44px;
    justify-items: center;

    font-size: 30px;
    line-height: 41px;
    font-weight: 800;
    letter-spacing: -0.03em;
  }
}

.main-nav__contacts-item {
  @media (max-width: (@desktop-width - 1)) {
    &--social {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 44px;

    &:first-of-type {
      margin-right: 42px;
    }

    &:nth-last-of-type(2) {
      margin-right: 78px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.main-nav--closed .main-nav__contacts-item {
  @media (max-width: (@desktop-width - 1)) {
    padding-left: 0;
    padding-top: 40px;

    background-size: 30px 30px;
    background-position: top center;

    &--social {
      display: block;
      justify-self: end;
      padding-top: 0;
    }
  }

  &--adress {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--schedule {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--phone {
    order: 2;

    @media (min-width: @desktop-width) {
      order: 0;
    }
  }

  &--email {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.main-nav__site-menu {
  @media (min-width: @desktop-width) {
    padding-top: 20px;
  }
}

.main-nav--closed .main-nav__site-menu {
  @media (max-width: (@desktop-width - 1)) {
    display: none;
  }
}

.main-nav__site-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    max-width: 980px;
  }
}

.main-nav__site-list-item {
  @media (min-width: @desktop-width) {
    margin-right: 26px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
