.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: 0 @mobile-padding;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.main-nav--opened {
  justify-content: end;
}

.main-nav--opened .main-nav__bar {
  @media (max-width: (@desktop-width - 1)) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 430px;
    background-color: @color-blue;
  }
}

.main-nav__toggle-container {
  position: absolute;
  top: 26px;
  left: @mobile-padding;
  z-index: 1;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle-container {
  top: 13px;
  right: 35px;
  left: auto;
}

.main-nav__toggle {
  .button();

  width: 42px;
  height: 37px;

  background-image: url("../../img/btn-open.svg");
  background-size: 42px 37px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--opened .main-nav__toggle {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: @color-white;
  background-image: url("../../img/btn-close.svg");
  background-size: 15px 15px;
}

.main-nav__logo-container {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-right: 105px;
  }
}

.main-nav__logo {
  .button();
  width: 146px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: left;
}

.main-nav__contacts {
  position: relative;
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    padding: 0 @desktop-padding;
    padding-top: 22px;
    padding-bottom: 21px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - 180px);
    height: 0;
    border-bottom: 2px solid @color-white;
    margin: 0 auto;
    content: "";

    @media (min-width: @desktop-width) {
      width: 100%;
      border-bottom: 1px solid @color-white;
    }
  }
}

.main-nav--opened .main-nav__contacts {
  @media (max-width: (@desktop-width - 1)) {
    display: block;
    padding: 0 @mobile-padding;
    padding-top: 81px;
    padding-bottom: 30px;
  }
}

.main-nav__contacts-title {
  display: none;
  margin: 0;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.main-nav--opened .main-nav__contacts-title {
  @media (max-width: (@desktop-width - 1)) {
    display: block;
    margin-bottom: 23px;
  }
}

.main-nav__contacts-list {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.03em;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    width: 757px;
    min-height: 57px;

    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: -0.04em;
  }
}

.main-nav--opened .main-nav__contacts-list {
  @media (max-width: (@desktop-width - 1)) {
    display: grid;
    gap: 23px;
    justify-items: left;
  }
}

.main-nav--opened .main-nav__contacts-item {
  &--email {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: -0.04em;
  }
}

.main-nav__site-menu {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    padding: 0 @desktop-padding;
    padding-top: 20px;
  }
}

.main-nav--opened .main-nav__site-menu {
  @media (max-width: (@desktop-width - 1)) {
    display: block;
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

.main-nav__site-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    max-width: 980px;
  }
}

.main-nav__site-list-item {
  @media (min-width: @desktop-width) {
    margin-right: 26px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.main-nav__social {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 22px;
    right: @desktop-padding;
  }
}

.main-nav__social-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6px;
  width: 138px;

  @media (min-width: @desktop-width) {
    gap: 5px;
    width: 100px;
  }
}
