.page-header {
  box-sizing: border-box;
  min-height: 804px;

  color: @color-white;
  background-color: @color-grey;
  background-image: url("../../img/back.jpg");
  background-repeat: no-repeat;
}

.page-header__nav {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.page-header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    padding-top: 81px;
  }
}

.page-header__tittle {
  box-sizing: border-box;
  width: 327px;
  padding-left: 7px;
  margin: 0;
  margin-bottom: 30px;

  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @desktop-width) {
    width: 593px;
    margin-bottom: 24px;
    padding-left: 0;

    font-size: 65px;
    line-height: 75px;
    letter-spacing: -0.04em;
  }
}

.page-header__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 22px;
  }
}

.page-header__button {
  &--staff {
    @media (max-width: (@desktop-width - 1)) {
      display: none;
    }
  }

  &--call {
    @media (min-width: @desktop-width) {
      position: absolute;
      top: 0;
      right: @desktop-padding;
      transform: translateY(-100%);
    }
  }
}

