.page-header {
  position: relative;
  box-sizing: border-box;
  min-height: 804px;

  color: @color-white;
  background-color: @color-grey;

  background-image: image-set(
    url("../../img/back-mobile.webp"),
    url("../../img/back-mobile.png"),
  );
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: image-set(
      url("../../img/back-mobile@2x.webp"),
      url("../../img/back-mobile@2x.png"),
    );
    background-size: 860px auto;
  }

  @media (min-width: @desktop-width) {
    background-image: image-set(
      url("../../img/back-desktop.webp"),
      url("../../img/back-desktop.png"),
    );
    background-size: 1728px auto;

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        url("../../img/back-desktop@2x.webp"),
        url("../../img/back-desktop@2x.png"),
      );
      background-size: 3456px auto;
    }
  }
}

.page-header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 133px;

  @media (min-width: @desktop-width) {
    padding-top: 81px;
  }
}

.page-header__tittle {
  box-sizing: border-box;
  width: 327px;
  padding-left: 7px;
  margin: 0;
  margin-bottom: 30px;

  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @desktop-width) {
    width: 593px;
    margin-bottom: 24px;
    padding-left: 0;

    font-size: 65px;
    line-height: 75px;
  }
}

.page-header__phone {
  order: -1;
  margin-bottom: 34px;
  padding-left: @mobile-padding;
  padding-right: @mobile-padding;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__phone-list {
  .list();

  padding-top: 40px;

  background-image: url("../../img/phone.svg");
  background-size: 30px 30px;
  background-position: top center;
  background-repeat: no-repeat;

  font-size: 30px;
  line-height: 41px;
  font-weight: 800;
}

.page-header__phone-link {
  .button();
}

.page-header__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 22px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.page-header__button {
  &--staff {
    @media (max-width: (@desktop-width - 1)) {
      display: none;
    }
  }

  &--call {
    @media (min-width: @desktop-width) {
      position: absolute;
      top: 0;
      right: @desktop-padding;
      transform: translateY(-100%);
    }
  }
}
