.page {
  min-width: 430px;
  height: 100%;

  font-family: @font-page;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;

  color: @color-grey;
  background-color: @color-white;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  min-height: 100%;
  margin: 0;
}
