.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: start;
    padding: 0 @desktop-padding;
    padding-top: 38px;
    padding-bottom: 33px;
  }
}

.page-footer__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 @mobile-padding;
  padding-top: 39px;
  padding-bottom: 28px;

  @media (min-width: @desktop-width) {
    width: 240px;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 10px;
  }
}

// .page-footer__content-wrapper {
//   width: 280px;

// }

.page-footer__contacts {
  margin-bottom: 28px;
}

.page-footer__logo-container {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-bottom: 16px;
  }
}

.page-footer__contacts-title {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__social {
  align-self: center;

  @media (min-width: @desktop-width) {
    align-self: start;
  }
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 16px;
}

.page-footer__map {
  width: 100%;

  @media (min-width: @desktop-width) {
    outline: 3px solid @color-blue;
    outline-offset: -3px;
    border-radius: 60px;
  }
}

.page-footer__map img {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 990px;
    height: 440px;
  }
}
