.page-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 @desktop-padding;
    padding-top: 38px;
    padding-bottom: 33px;
  }
}

.page-footer__content {
  padding: 0 @mobile-padding;
  padding-top: 39px;
  padding-bottom: 28px;

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-right: 10px;
  }
}

.page-footer__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    align-items: start;
    width: 240px;
  }
}

.page-footer__contacts {
  align-self: normal;
  margin-bottom: 28px;
}

.page-footer__logo {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-bottom: 16px;
  }
}

.page-footer__contacts-title {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__social {
  margin-bottom: 23px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 16px;
}

.page-footer__content-button {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__map-container {
  position: relative;
  // width: 100%;

  @media (min-width: @desktop-width) {
    outline: 3px solid @color-blue;
    border-radius: 60px;
  }
}

.page-footer__map {
  z-index: 0;

  width: 100%;
  min-height: 325px;
  height: auto;

  @media (min-width: @desktop-width) {
    width: 990px;
    height: 440px;
    border-radius: 60px;
  }
}

.page-footer__map-img {
  display: none;
}

.page-footer__map--nojs .page-footer__map-img {
  display: block;
}

.page-footer__map-img img {
  width: 430px;
  height: 325px;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 440px;
  }
}

.page-footer__map-button {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 26px;

    z-index: 1;
  }
}
