.products {
  @media (min-width: @desktop-width) {
    .wrapper();
  }
}

.products__title {
  margin: 0 auto;
  width: 309px;
  margin-bottom: 36px;

  font-size: 32px;
  line-height: 39px;
  font-weight: 800px;
  text-align: center;

  @media (min-width: @desktop-width) {
    width: auto;
    margin-bottom: 46px;
  }
}
