.products {

}

.products__list {
  .list();
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 40px;
  justify-content: center;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 308px;
    gap: 17px;
  }
}

.products__item {
  display: grid;
  grid-template-rows: 308px 249px 275px;

  @media (min-width: @desktop-width) {
    grid-template-rows: 308px;
    grid-template-columns: 490px 453px 1fr;

    outline: 1px solid @color-grey;
    border-radius: 30px;
  }
}

.products__img img {
  width: 280px;
  height: 309px;

  @media (min-width: @desktop-width) {
    width: 490px;
    height: 309px;
  }
}

.products__description {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 16px;

  @media (min-width: @desktop-width) {
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 8px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: calc(100% - 10px);
    height: 1px;

    background-color: @color-grey;

    @media (min-width: @desktop-width) {
      left: auto;
      right: 0;
      top: 0;
      margin: 0 auto;
      width: 1px;
      height: 100%;

      background-color: @color-grey;
    }
  }
}

.products__title {
  margin: 0;
  margin-bottom: 3px;

  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    margin-bottom: 18px;
  }
}

.products__content {
  flex-grow: 1;
  margin: 0;

  font-size: 12px;
  line-height: 15px;
  font-weight: 400;

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.products__content span {
  letter-spacing: -0.01em;

  &:last-of-type {
    letter-spacing: -0.02em;
  }

  &:first-of-type {
    @media (min-width: @desktop-width) {
      line-height: 17px;
    }
  }
}

.products__price {
  padding-left: 42px;
  padding-top: 3px;
  padding-bottom: 7px;

  background-image: url("../../img/price-icon.svg");
  background-position: top 0 left 0;
  background-size: 30px 30px;
  background-repeat: no-repeat;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

}

.products__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @desktop-width) {
    padding-top: 23px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 7px;
  }
}

.products__rating {
  align-self: start;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 119px;

  color: @color-blue;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  background-image: url("../../img/user.svg"), url("../../img/medal.svg");
  background-position: top left 24px, top left 69px;
  background-repeat: no-repeat;
  background-size: 24px 24px, 24px 24px;
}

.products__rating-value {
  display: block;
  margin-right: 6px;
}

.products__info-title {
  margin: 0;
  margin-bottom: 9px;

  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: center;
}

.products__info-buttons {
  display: grid;
  gap: 5px;
  justify-content: center;
  margin-bottom: 16px;
}

.products__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 5px;
  justify-content: center;
}
