.promotion {
  display: none;

  &--opened {
    position: relative;
    display: block;
    width: 100%;
    margin-top: -82px;
    z-index: 1;

    background-color: transparent;

    @media (min-width: @desktop-width) {
      margin-top: -65px;
    }
  }
}

.promotion__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 412px;
  margin: 0 auto;

  padding-top: 50px;
  padding-bottom: 53px;
  padding-left: 67px;
  padding-right: 67px;

  color: @color-white;
  background-color: @color-blue;
  border-radius: 60px;
  box-shadow: 0 10px 8px 0 #00000024;


  background-image: image-set(
    url("../../img/promotion-mobile.webp"),
    url("../../img/promotion-mobile.png"),
  );
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 429px auto;

  @media (min-resolution: 2dppx) {
    background-image: image-set(
      url("../../img/promotion-mobile@2x.webp"),
      url("../../img/promotion-mobile@2x.png"),
    );
    background-size: 858px auto;
  }

  @media (min-width: @desktop-width) {
    width: 1072px;
    padding-top: 38px;
    padding-bottom: 22px;
    padding-left: 295px;
    padding-right: 295px;

    background-image: image-set(
      url("../../img/promotion-desktop.webp"),
      url("../../img/promotion-desktop.png"),
    );
    background-size: 1089px auto;

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        url("../../img/promotion-desktop@2x.webp"),
        url("../../img/promotion-desktop@2x.png"),
      );
      background-size: 2178px auto;
    }
  }
}

.promotion__title {
  margin: 0;
  margin-bottom: 36px;

  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @desktop-width) {
    margin-bottom: 18px;
  }
}

.promotion__button {
  margin-bottom: 34px;

  @media (min-width: @desktop-width) {
    margin-bottom: 19px;
  }
}

.promotion__slogan {
  margin: 0;
  margin-bottom: 34px;

  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
  }
}

.promotion__date {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 8px;

  margin-bottom: 27px;

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.promotion__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion__item-value {
  box-sizing: border-box;
  min-width: 50px;
  min-height: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 3px;

  border: 1px solid @color-white;
  border-radius: 7px;

  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
}

.promotion__item-text {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}

.promotion__toggles-container {
  width: 132px;
}
