.site-list {
  .list();

  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.site-list__link {
  .button();
  padding: 5px 0;

  text-align: left;

  .interactive-style-font();

  @media (min-width: @desktop-width) {
    padding: 16px 0 17px 0;
  }
}
