.slider__list {
  .list();
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-auto-flow: column;
  gap: 28px;
  justify-content: start;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 80px;
    justify-content: center;
  }
}

.slider--center .slider__list {
  display: flex;
  justify-content: center;
}

.slider__toggles {
  .list();
  display: grid;
  grid-template-columns: repeat(auto-fit, 12px);
  gap: 12px;
  justify-content: center;
}

.slider--center .slider__toggles {
  display: none;
}

.slider__toggle {
  .button();
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: @color-blue;

  &:hover {
    background-color: @color-dark-blue;
  }

  &:active {
    background-color: @color-dark-blue;
    opacity: 0.1;
  }

  &--current {
    background-color: @color-dark-blue;
  }
}
