.social {
 .list();
}

.social-item {
  width: 42px;
  height: 42px;

  border: 1px solid @color-blue;
  border-radius: 5px;
  background-color: @color-white;
  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    background-image: url("../../img/social/vk.svg");
    background-size: 21px 13px;
  }
  &--whatsapp {
    background-image: url("../../img/social/whatsapp.svg");
    background-size: 26px 26px;
  }

  &--viber {
    background-image: url("../../img/social/viber.svg");
    background-size: 24px 23px;
  }
}
