.social__list {
  .list();

  display: grid;
  grid-template-columns: repeat(auto-fit, 30px);
  gap: 5px;
}

.social--big .social__list {
  grid-template-columns: repeat(auto-fit, 42px);
}

.social--transform .social__list {
  @media (max-width: (@desktop-width - 1)) {
    grid-template-columns: repeat(auto-fit, 42px);
  }
}

.social--border .social__list {
  gap: 16px;
}

.social__link {
  position: relative;
  .button();

  width: 30px;
  height: 30px;

  border-radius: 2px;
  color: @color-light-black;
  background-color: @color-white;
}

.social--big .social__link {
  width: 42px;
  height: 42px;
}

.social--transform .social__link {
  @media (max-width: (@desktop-width - 1)) {
    width: 42px;
    height: 42px;
  }
}

.social--border .social__link {
  border-radius: 5px;
  border: 1px solid @color-grey;
}

.social--dark .social__link {
  color: @color-white;
  background-color: @color-blue;
}

.social__link {
  &--vk {
    &:hover {
      background-color: @color-vk;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--whatsapp {
    &:hover {
      background-color: @color-whatsapp;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--viber {
    &:hover {
      background-color: @color-viber;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.social__icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

.social--big .social__icon {
  &--vk {
    width: 21px;
    height: 13px;
  }

  &--whatsapp {
    width: 25px;
    height: 25px;
  }

  &--viber {
    width: 23px;
    height: 22px;
  }
}

.social--transform .social__icon {
  @media (max-width: (@desktop-width - 1)) {
    &--vk {
      width: 21px;
      height: 13px;
    }

    &--whatsapp {
      width: 25px;
      height: 25px;
    }

    &--viber {
      width: 23px;
      height: 22px;
    }
  }
}
