.sub-catalog {
  @media (min-width: @desktop-width) {
    padding-top: 46px;
    padding-bottom: 59px;

    color: @color-white;
    background-color: @color-blue;

    background-image: image-set(
      url("../../img/subcatalog-desktop.webp") type("image/webp") 1x,
      url("../../img/subcatalog-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/subcatalog-desktop.png") type("image/png") 1x,
      url("../../img/subcatalog-desktop@2x.png") type("image/png") 2x,
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 10px 8px 0 #00000024;
  }
}

.sub-catalog__title {
  .wrapper();
  padding-left: 41px;
  padding-right: 41px;
  margin: 0;
  margin-bottom: 25px;

  .font-title();

  @media (min-width: @desktop-width) {
    padding-left: 230px;
    padding-right: 230px;
    margin-bottom: 69px;
  }
}

.sub-catalog__wrapper {
  .wrapper();
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 36px;

  @media (min-width: @desktop-width) {
    padding: 0 194px;
  }
}

.sub-catalog__accessory-list {
  @media (max-width: (@desktop-width - 1)) {
    width: @mobile-width - 32px;
  }
}

.sub-catalog__toggles {
  width: 228px;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
