@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/manrope-regular.woff") format("woff"),
    url("../fonts/manrope-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/manrope-medium.woff") format("woff"),
    url("../fonts/manrope-medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 700;
  src:
    url("../fonts/manrope-bold.woff") format("woff"),
    url("../fonts/manrope-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 800;
  src:
    url("../fonts/manrope-extrabold.woff") format("woff"),
    url("../fonts/manrope-extrabold.woff2") format("woff2");
  font-display: swap;
}
