@font-page: "Manrope", sans-serif;

@color-white: #ffffff;
@color-grey: #606060;
@color-blue: #73C1F2;

@mobile-width: 430px;
@tablet-width: 768px;
@desktop-width: 1240px;
// @desktop-width: 1728px;

@mobile-width-only: @tablet-width - 1px;

@mobile-padding: 75px;
@tablet-padding: 75px;
@desktop-padding: 20px;
