@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/manrope-bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 800;
  src: url("../fonts/manrope-extrabold.ttf");
  font-display: swap;
}
.button {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.wrapper {
  padding: 0 75px;
}
@media (min-width: 1300px) {
  .wrapper {
    padding: 0 30px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page {
  min-width: 430px;
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #606060;
  background-color: #ffffff;
}
.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}
.logo {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.logo--footer {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}
.logo:hover {
  color: #0487D9;
}
.logo:active {
  color: #0487D9;
  opacity: 0.3;
}
.app-button {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  color: #ffffff;
  background-color: #73C1F2;
}
.app-button--current {
  background-color: #0487D9;
}
.app-button:hover {
  background-color: #0487D9;
}
.app-button:focus-visible {
  outline: 2px solid #606060;
}
.app-button:active {
  background-color: #0487D9;
  opacity: 0.3;
}
.app-button--form {
  background-color: #52575A;
}
.app-button--form:hover {
  background-color: #404040;
}
.app-button--form:focus-visible {
  outline: 2px solid #606060;
}
.app-button--form:active {
  background-color: #404040;
  opacity: 0.3;
}
.app-field {
  border: none;
  color: #606060;
  background-color: #ffffff;
}
.app-field:hover {
  outline: 2px solid #606060;
}
.app-field:focus-visible {
  outline: 2px solid #606060;
}
.app-field:active {
  outline: 2px solid #606060;
}
.app-interactive {
  box-sizing: border-box;
  width: 240px;
  padding: 16px 20px 17px 68px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  background-position: left 28px center;
  background-repeat: no-repeat;
}
.app-interactive--border {
  padding-top: 14px;
  padding-bottom: 15px;
  border: 2px solid #ffffff;
}
.app-interactive--small {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background-position: center;
}
.app-interactive--call {
  background-image: url("../../img/buttons/call.svg");
  background-size: 20px 20px;
}
.app-interactive--catalog {
  background-image: url("../../img/buttons/catalog.svg");
  background-size: 20px 20px;
}
.app-interactive--staff {
  background-image: url("../../img/buttons/staff.svg");
  background-size: 24px 24px;
}
.app-interactive--buy {
  background-image: url("../../img/buttons/buy.svg");
  background-size: 19px 20px;
}
.app-interactive--user {
  background-image: url("../../img/buttons/user.svg");
  background-size: 24px 24px;
}
.app-interactive--phone {
  background-image: url("../../img/buttons/phone.svg");
  background-size: 20px 20px;
}
.app-interactive--time {
  background-image: url("../../img/buttons/time.svg");
  background-size: 20px 20px;
}
.contacts__title {
  margin: 0;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.contacts__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 23px;
  width: 240px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 1300px) {
  .contacts__list--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
  }
}
.contacts__item {
  position: relative;
  padding-left: 30px;
}
.contacts__item--email {
  padding-left: 29px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
@media (min-width: 1300px) {
  .contacts__list--row .contacts__item {
    padding: 10px 0;
  }
  .contacts__list--row .contacts__item--adress {
    max-width: 193px;
    padding-left: 26px;
  }
  .contacts__list--row .contacts__item--schedule {
    padding-left: 31px;
  }
  .contacts__list--row .contacts__item--phone {
    padding-left: 28px;
  }
  .contacts__list--row .contacts__item--email {
    padding-left: 26px;
  }
}
.contacts__icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.contacts__schedule-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.contacts__phone-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.contacts__link {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  text-align: left;
}
.contacts__link:hover {
  color: #0487D9;
}
.contacts__link:active {
  color: #0487D9;
  opacity: 0.3;
}
.social-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.social-list__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  color: #505050;
  background-color: #ffffff;
}
.social-list--border .social-list__link {
  border-radius: 5px;
  border: 1px solid #606060;
}
.social-list--color-theme .social-list__link {
  color: #ffffff;
  background-color: #73C1F2;
}
.social-list__icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}
.social-list--big .social-list__link {
  width: 42px;
  height: 42px;
}
.social-list--big .social-list__icon--vk {
  width: 21px;
  height: 13px;
}
.social-list--big .social-list__icon--whatsapp {
  width: 25px;
  height: 25px;
}
.social-list--big .social-list__icon--viber {
  width: 23px;
  height: 22px;
}
@media (max-width: 1299px) {
  .social-list--changed-size .social-list__link {
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 1299px) {
  .social-list--changed-size .social-list__icon--vk {
    width: 21px;
    height: 13px;
  }
  .social-list--changed-size .social-list__icon--whatsapp {
    width: 25px;
    height: 25px;
  }
  .social-list--changed-size .social-list__icon--viber {
    width: 23px;
    height: 22px;
  }
}
.social-list__link--vk:hover {
  background-color: #1A76FF;
}
.social-list__link--vk:active {
  opacity: 0.3;
}
.social-list__link--whatsapp:hover {
  background-color: #00CD4C;
}
.social-list__link--whatsapp:active {
  opacity: 0.3;
}
.social-list__link--viber:hover {
  background-color: #7360F2;
}
.social-list__link--viber:active {
  opacity: 0.3;
}
.site-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.site-list__link {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  padding: 5px 0;
  text-align: left;
}
.site-list__link:hover {
  color: #0487D9;
}
.site-list__link:active {
  color: #0487D9;
  opacity: 0.3;
}
@media (min-width: 1300px) {
  .site-list__link {
    padding: 16px 0 17px 0;
  }
}
.slider__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-auto-flow: column;
  gap: 28px;
  justify-content: start;
}
.slider__list--center {
  display: flex;
  justify-content: center;
}
@media (min-width: 1300px) {
  .slider__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 80px;
    justify-content: center;
  }
}
.slider__toggles {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12px);
  gap: 12px;
  justify-content: center;
}
.slider__toggle {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #73C1F2;
}
.slider__toggles--light-theme .slider__toggle {
  background-color: #ffffff;
}
.slider__toggle:hover {
  background-color: #0487D9;
}
.slider__toggle:active {
  background-color: #0487D9;
  opacity: 0.1;
}
.slider__toggle--current {
  background-color: #0487D9;
}
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}
.modal--opened {
  display: flex;
}
.modal--closed {
  display: none;
}
.modal__wrapper {
  position: relative;
  margin: auto;
}
.modal__button {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 33px;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: #73C1F2;
  border-radius: 50%;
  background-color: #ffffff;
}
.modal__button:hover {
  color: #0487D9;
}
.modal__button:active {
  color: #73C1F2;
  opacity: 0.3;
}
.modal__button-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.consultation {
  width: 413px;
  min-height: 333px;
  color: #ffffff;
  background-color: #73C1F2;
  border-radius: 50px;
}
@media (min-width: 1300px) {
  .consultation {
    width: 825px;
  }
}
.consultation--content-opened .consultation__content {
  display: block;
}
.consultation--content-opened .consultation__answer {
  display: none;
}
.consultation--answer-opened .consultation__content {
  display: none;
}
.consultation--answer-opened .consultation__answer {
  display: block;
}
.consultation__content {
  padding-top: 58px;
  padding-bottom: 26px;
  padding-left: 34px;
  padding-right: 43px;
}
@media (min-width: 1300px) {
  .consultation__content {
    padding-top: 18px;
    padding-bottom: 26px;
    padding-left: 34px;
    padding-right: 43px;
  }
}
.consultation__answer {
  padding-top: 48px;
  padding-bottom: 70px;
  padding-left: 34px;
  padding-right: 34px;
}
@media (min-width: 1300px) {
  .consultation__answer {
    padding-top: 39px;
    padding-bottom: 70px;
    padding-left: 190px;
    padding-right: 190px;
  }
}
.consultation__tittle {
  margin: 0 auto;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.consultation__tittle--content {
  margin-bottom: 33px;
}
@media (min-width: 1300px) {
  .consultation__tittle--content {
    width: 453px;
  }
}
.consultation__tittle--answer {
  margin-bottom: 34px;
}
.consultation__fields-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
@media (min-width: 1300px) {
  .consultation__fields-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.consultation__label {
  margin-bottom: 14px;
}
@media (min-width: 1300px) {
  .consultation__label {
    margin-bottom: 0;
  }
}
.consultation__field {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.consultation__field::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.consultation__button {
  margin: 0 auto;
}
.consultation__description {
  margin: 0 auto;
  padding-top: 51px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../../img/buttons/staff.svg");
  background-size: 35px 35px;
  background-position: top center;
  background-repeat: no-repeat;
}
@media (min-width: 1300px) {
  .consultation__description {
    width: 444px;
  }
}
.page-header {
  position: relative;
  box-sizing: border-box;
  min-height: 804px;
  color: #ffffff;
  background-color: #606060;
  background-image: -webkit-image-set(url("../../img/back-mobile.webp"), url("../../img/back-mobile.png"));
  background-image: image-set(url("../../img/back-mobile.webp"), url("../../img/back-mobile.png"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (min-resolution: 2dppx) {
  .page-header {
    background-image: -webkit-image-set(url("../../img/back-mobile@2x.webp"), url("../../img/back-mobile@2x.png"));
    background-image: image-set(url("../../img/back-mobile@2x.webp"), url("../../img/back-mobile@2x.png"));
    background-size: 860px auto;
  }
}
@media (min-width: 1300px) {
  .page-header {
    background-image: -webkit-image-set(url("../../img/back-desktop.webp"), url("../../img/back-desktop.png"));
    background-image: image-set(url("../../img/back-desktop.webp"), url("../../img/back-desktop.png"));
    background-size: 1728px auto;
  }
}
@media (min-width: 1300px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: -webkit-image-set(url("../../img/back-desktop@2x.webp"), url("../../img/back-desktop@2x.png"));
    background-image: image-set(url("../../img/back-desktop@2x.webp"), url("../../img/back-desktop@2x.png"));
    background-size: 3456px auto;
  }
}
.page-header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 133px;
}
@media (min-width: 1300px) {
  .page-header__content {
    padding-top: 81px;
  }
}
.page-header__tittle {
  box-sizing: border-box;
  width: 327px;
  padding-left: 7px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1300px) {
  .page-header__tittle {
    width: 593px;
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 65px;
    line-height: 75px;
  }
}
.page-header__phone-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  order: -1;
  margin-bottom: 34px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 40px;
  background-image: url("../../img/phone.svg");
  background-size: 30px 30px;
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 30px;
  line-height: 41px;
  font-weight: 800;
}
@media (min-width: 1300px) {
  .page-header__phone-list {
    display: none;
  }
}
.page-header__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1300px) {
  .page-header__buttons-container {
    flex-direction: row;
    gap: 22px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 1299px) {
  .page-header__button--staff {
    display: none;
  }
}
@media (min-width: 1300px) {
  .page-header__button--call {
    position: absolute;
    top: 0;
    right: 30px;
    transform: translateY(-100%);
  }
}
.main-nav {
  position: relative;
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #73C1F2;
  }
}
.main-nav__top-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 1300px) {
  .main-nav__top-bar {
    padding: 0 30px;
  }
}
.main-nav__top-bar::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  content: "";
}
@media (min-width: 1300px) {
  .main-nav__top-bar {
    padding-top: 12px;
    padding-bottom: 11px;
  }
  .main-nav__top-bar::after {
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__top-bar {
    flex-direction: column;
    padding-top: 82px;
    padding-bottom: 33px;
  }
  .main-nav--opened .main-nav__top-bar::after {
    width: 250px;
    border-bottom: 2px solid #ffffff;
    margin: 0 auto;
  }
}
.main-nav__toggle {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 42px;
  height: 37px;
}
.main-nav__toggle:hover {
  color: #73C1F2;
}
.main-nav__toggle:active {
  color: #73C1F2;
  opacity: 0.3;
}
@media (min-width: 1300px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 13px;
  right: 35px;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: #73C1F2;
  border-radius: 50%;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle:hover {
  color: #0487D9;
}
.main-nav--opened .main-nav__toggle:active {
  color: #73C1F2;
  opacity: 0.3;
}
.main-nav__toggle-icon--close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main-nav--closed .main-nav__toggle-icon--close {
  display: none;
}
.main-nav--opened .main-nav__toggle-icon--open {
  display: none;
}
.main-nav__logo {
  display: none;
}
@media (min-width: 1300px) {
  .main-nav__logo {
    display: block;
    width: 146px;
    margin-right: 105px;
  }
}
.main-nav__contacts {
  display: none;
}
@media (min-width: 1300px) {
  .main-nav__contacts {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__contacts {
    display: block;
    width: 280px;
  }
}
.main-nav__contacts-title {
  margin-bottom: 22px;
}
@media (min-width: 1300px) {
  .main-nav__contacts-title {
    display: none;
  }
}
@media (min-width: 1300px) {
  .main-nav__contacts-list {
    width: 811px;
  }
}
.main-nav__bottom-bar {
  display: none;
  padding: 0 75px;
}
@media (min-width: 1300px) {
  .main-nav__bottom-bar {
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .main-nav__bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
  }
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
  }
}
.main-nav__site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 280px;
}
@media (min-width: 1300px) {
  .main-nav__site-list {
    flex-direction: row;
    gap: 26px;
    width: 904px;
  }
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__social {
    display: none;
  }
}
.main-nav__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 5px;
}
.promotion {
  display: none;
}
.promotion--opened {
  position: relative;
  display: block;
  width: 100%;
  margin-top: -82px;
  margin-bottom: 31px;
  z-index: 1;
  background-color: transparent;
}
@media (min-width: 1300px) {
  .promotion--opened {
    margin-top: -65px;
    margin-bottom: 48px;
  }
}
.promotion__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 412px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 53px;
  padding-left: 66px;
  padding-right: 66px;
  color: #ffffff;
  background-color: #73C1F2;
  border-radius: 60px;
  box-shadow: 0 10px 8px 0 #00000024;
  background-image: -webkit-image-set(url("../../img/promotion-mobile.webp"), url("../../img/promotion-mobile.png"));
  background-image: image-set(url("../../img/promotion-mobile.webp"), url("../../img/promotion-mobile.png"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 429px auto;
}
@media (min-resolution: 2dppx) {
  .promotion__wrapper {
    background-image: -webkit-image-set(url("../../img/promotion-mobile@2x.webp"), url("../../img/promotion-mobile@2x.png"));
    background-image: image-set(url("../../img/promotion-mobile@2x.webp"), url("../../img/promotion-mobile@2x.png"));
    background-size: 858px auto;
  }
}
@media (min-width: 1300px) {
  .promotion__wrapper {
    width: 1072px;
    padding-top: 38px;
    padding-bottom: 22px;
    padding-left: 295px;
    padding-right: 295px;
    background-image: -webkit-image-set(url("../../img/promotion-desktop.webp"), url("../../img/promotion-desktop.png"));
    background-image: image-set(url("../../img/promotion-desktop.webp"), url("../../img/promotion-desktop.png"));
    background-size: 1089px auto;
  }
}
@media (min-width: 1300px) and (min-resolution: 2dppx) {
  .promotion__wrapper {
    background-image: -webkit-image-set(url("../../img/promotion-desktop@2x.webp"), url("../../img/promotion-desktop@2x.png"));
    background-image: image-set(url("../../img/promotion-desktop@2x.webp"), url("../../img/promotion-desktop@2x.png"));
    background-size: 2178px auto;
  }
}
.promotion__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.promotion__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotion__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1300px) {
  .promotion__title {
    margin-bottom: 18px;
  }
}
.promotion__button {
  margin-bottom: 34px;
}
@media (min-width: 1300px) {
  .promotion__button {
    margin-bottom: 19px;
  }
}
.promotion__slogan {
  margin: 0;
  margin-bottom: 34px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1300px) {
  .promotion__slogan {
    margin-bottom: 22px;
  }
}
.promotion__date {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 8px;
  margin-bottom: 27px;
}
@media (min-width: 1300px) {
  .promotion__date {
    margin-bottom: 45px;
  }
}
.promotion__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotion__item-value {
  box-sizing: border-box;
  min-width: 50px;
  min-height: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 3px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
}
.promotion__item-text {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}
.promotion__toggles {
  width: 228px;
}
.brend-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  outline: 4px solid #73C1F2;
  outline-offset: -4px;
  border-radius: 20px;
}
@media (max-width: 1299px) {
  .brend-list__item--current .brend-list__img {
    outline: 4px solid #0487D9;
  }
}
.catalog__item:not(:last-of-type) {
  margin-bottom: 39px;
}
@media (min-width: 1300px) {
  .catalog__item:not(:last-of-type) {
    margin-bottom: 77px;
  }
}
.catalog__title {
  margin: 0 auto;
  width: 309px;
  margin-bottom: 35px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  .catalog__title {
    width: auto;
    margin-bottom: 45px;
  }
}
.catalog__brend {
  margin-bottom: 38px;
}
@media (min-width: 1300px) {
  .catalog__brend {
    margin-bottom: 77px;
  }
}
@media (max-width: 1299px) {
  .catalog__brend-wrapper {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 36px;
    overflow: hidden;
  }
}
@media (min-width: 1300px) {
  .catalog__brend-wrapper {
    padding: 0 204px;
  }
}
.catalog__toggles {
  max-width: 228px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .catalog__toggles {
    display: none;
  }
}
.catalog__products {
  padding: 0 75px;
}
@media (min-width: 1300px) {
  .catalog__products {
    padding: 0 30px;
  }
}
.products__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: minmax(833px, max-content);
  grid-auto-rows: minmax(833px, max-content);
  gap: 40px;
  justify-content: center;
}
@media (min-width: 1300px) {
  .products__list {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(310px, max-content);
    grid-auto-rows: minmax(310px, max-content);
    gap: 17px;
  }
}
.products__item {
  display: grid;
  grid-template-rows: 309px 1fr min-content;
}
@media (min-width: 1300px) {
  .products__item {
    grid-template-rows: auto;
    grid-template-columns: 490px 1fr 298px;
    outline: 1px solid #606060;
    border-radius: 30px;
  }
}
.products__img img {
  width: 280px;
  height: 309px;
}
@media (min-width: 1300px) {
  .products__img img {
    width: 490px;
    height: 309px;
  }
}
.products__content {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding-top: 14px;
  padding-bottom: 16px;
}
@media (min-width: 1300px) {
  .products__content {
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 8px;
  }
}
.products__content::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: calc(100% - 10px);
  height: 1px;
  background-color: #606060;
}
@media (min-width: 1300px) {
  .products__content::after {
    left: auto;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 1px;
    height: 100%;
    background-color: #606060;
  }
}
.products__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  .products__title {
    margin-bottom: 18px;
  }
}
.products__description {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}
@media (min-width: 1300px) {
  .products__description {
    font-size: 16px;
    line-height: 20px;
  }
}
.products__description span {
  letter-spacing: -0.01em;
}
.products__description span:last-of-type {
  letter-spacing: -0.02em;
}
@media (min-width: 1300px) {
  .products__description span:first-of-type {
    line-height: 17px;
  }
}
.products__price {
  padding-left: 42px;
  padding-top: 3px;
  padding-bottom: 7px;
  background-image: url("../../img/price-icon.svg");
  background-position: top left;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.products__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: inherit;
  padding-top: 9px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1300px) {
  .products__info {
    padding-top: 23px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 7px;
  }
}
.products__rating {
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 99px;
  color: #73C1F2;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background-image: url("../../img/user.svg"), url("../../img/medal.svg");
  background-position: top left 4px, top left 49px;
  background-repeat: no-repeat;
  background-size: 24px 24px, 24px 24px;
}
@media (min-width: 1300px) {
  .products__rating {
    padding-left: 119px;
    background-position: top left 24px, top left 69px;
  }
}
.products__rating-value {
  display: block;
  margin-right: 6px;
}
.products__rating-stars {
  width: 100px;
}
.products__info-title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: center;
}
.products__buttons-container {
  display: grid;
  gap: 5px;
  justify-content: center;
  margin-bottom: 16px;
}
.products__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 5px;
  justify-content: center;
}
.stars {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 16px);
  gap: 5px;
}
.stars__item {
  position: relative;
  width: 16px;
  height: 15px;
}
.stars__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.stars__item--current ~ .stars__item .stars__icon {
  color: #ffffff;
}
.offer {
  padding-top: 39px;
  padding-bottom: 39px;
}
@media (min-width: 1300px) {
  .offer {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}
.offer__wrapper {
  box-sizing: border-box;
  min-height: 380px;
  padding-top: 71px;
  padding-bottom: 40px;
  color: #ffffff;
  background-color: #606060;
  box-shadow: 1px 11px 12px 0 #00000040;
  background-image: -webkit-image-set(url("../../img/offer-mobile.webp"), url("../../img/offer-mobile.png"));
  background-image: image-set(url("../../img/offer-mobile.webp"), url("../../img/offer-mobile.png"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (min-resolution: 2dppx) {
  .offer__wrapper {
    background-image: -webkit-image-set(url("../../img/offer-mobile@2x.webp"), url("../../img/offer-mobile@2x.png"));
    background-image: image-set(url("../../img/offer-mobile@2x.webp"), url("../../img/offer-mobile@2x.png"));
    background-size: 860px auto;
  }
}
@media (min-width: 1300px) {
  .offer__wrapper {
    min-height: 450px;
    width: 1072px;
    padding-top: 95px;
    margin: 0 auto;
    border-radius: 60px;
    background-image: -webkit-image-set(url("../../img/offer-desktop.webp"), url("../../img/offer-desktop.png"));
    background-image: image-set(url("../../img/offer-desktop.webp"), url("../../img/offer-desktop.png"));
    background-size: 1097px auto;
  }
}
@media (min-width: 1300px) and (min-resolution: 2dppx) {
  .offer__wrapper {
    background-image: -webkit-image-set(url("../../img/offer-desktop@2x.webp"), url("../../img/offer-desktop@2x.png"));
    background-image: image-set(url("../../img/offer-desktop@2x.webp"), url("../../img/offer-desktop@2x.png"));
    background-size: 2194px auto;
  }
}
.offer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .offer__content {
    align-items: start;
    padding-left: 88px;
    margin: 0;
  }
}
.offer__title {
  margin: 0;
  margin-bottom: 43px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1300px) {
  .offer__title {
    margin-bottom: 18px;
    text-align: left;
  }
}
.accessory-list__item {
  display: flex;
  flex-direction: column;
}
.accessory-list__img {
  width: 240px;
  height: 240px;
  margin-bottom: 8px;
  border-radius: 20px;
}
@media (min-width: 1300px) {
  .accessory-list__img {
    outline: 4px solid #ffffff;
    outline-offset: -4px;
  }
}
@media (max-width: 1299px) {
  .accessory-list__item--current .accessory-list__img {
    outline: 4px solid #0487D9;
    outline-offset: -4px;
  }
}
.accessory-list__img img {
  width: 240px;
}
.accessory__subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
.sub-catalog {
  padding-top: 40px;
}
@media (min-width: 1300px) {
  .sub-catalog {
    padding-top: 46px;
    padding-bottom: 65px;
    color: #ffffff;
    background-color: #73C1F2;
    box-shadow: 0 10px 8px 0 #00000024;
  }
}
.sub-catalog__title {
  padding-left: 41px;
  padding-right: 41px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  .sub-catalog__title {
    padding-left: 230px;
    padding-right: 230px;
    margin-bottom: 70px;
  }
}
@media (max-width: 1299px) {
  .sub-catalog__wrapper {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 36px;
    overflow: hidden;
  }
}
@media (min-width: 1300px) {
  .sub-catalog__wrapper {
    padding: 0 204px;
  }
}
.sub-catalog__toggles {
  width: 228px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .sub-catalog__toggles {
    display: none;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    padding-top: 38px;
    padding-bottom: 33px;
  }
}
.page-footer__content {
  padding: 0 75px;
  padding-top: 39px;
  padding-bottom: 28px;
}
@media (min-width: 1300px) {
  .page-footer__content {
    padding: 0;
    margin-right: 10px;
  }
}
.page-footer__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .page-footer__content-wrapper {
    align-items: start;
    width: 240px;
  }
}
.page-footer__contacts {
  align-self: normal;
  margin-bottom: 28px;
}
.page-footer__logo {
  display: none;
}
@media (min-width: 1300px) {
  .page-footer__logo {
    display: block;
    margin-bottom: 16px;
  }
}
.page-footer__contacts-title {
  margin-bottom: 20px;
}
@media (min-width: 1300px) {
  .page-footer__contacts-title {
    display: none;
  }
}
.page-footer__social {
  margin-bottom: 23px;
}
@media (min-width: 1300px) {
  .page-footer__social {
    margin-bottom: 0;
  }
}
.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 16px;
}
@media (min-width: 1300px) {
  .page-footer__content-button {
    display: none;
  }
}
.page-footer__map {
  position: relative;
  width: 100%;
}
@media (min-width: 1300px) {
  .page-footer__map {
    outline: 3px solid #73C1F2;
    outline-offset: -3px;
    border-radius: 60px;
  }
}
.page-footer__map img {
  width: 100%;
}
.page-footer__map-button {
  display: none;
}
@media (min-width: 1300px) {
  .page-footer__map-button {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 26px;
  }
}
/*# sourceMappingURL=style.css.map */
