@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/manrope-bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 800;
  src: url("../fonts/manrope-extrabold.ttf");
  font-display: swap;
}
.button {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.wrapper {
  padding: 0 75px;
}
@media (min-width: 1300px) {
  .wrapper {
    padding: 0 30px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page {
  min-width: 430px;
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #606060;
  background-color: #ffffff;
}
.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}
.logo {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.logo--footer {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}
.logo:hover {
  color: #0487D9;
}
.logo:active {
  color: #0487D9;
  opacity: 0.3;
}
.app-button {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 240px;
  padding: 16px 20px 17px 68px;
  color: #ffffff;
  background-color: #73C1F2;
  border-radius: 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  background-position: left 28px center;
  background-repeat: no-repeat;
}
.app-button--small {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background-position: center;
}
.app-button--current {
  background-color: #0487D9;
}
.app-button--call {
  background-image: url("../../img/buttons/call.svg");
  background-size: 20px 20px;
}
.app-button--catalog {
  background-image: url("../../img/buttons/catalog.svg");
  background-size: 20px 20px;
}
.app-button--staff {
  background-image: url("../../img/buttons/staff.svg");
  background-size: 24px 24px;
}
.app-button--buy {
  background-image: url("../../img/buttons/buy.svg");
  background-size: 19px 20px;
}
.app-button:hover {
  background-color: #0487D9;
}
.app-button:active {
  background-color: #0487D9;
  opacity: 0.3;
}
.contacts__title {
  align-items: center;
  margin: 0;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.contacts__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 23px;
  width: 240px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 1300px) {
  .contacts--desktop-nav .contacts__list {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
  }
}
.contacts__item {
  position: relative;
  padding-left: 29px;
}
.contacts__item--email {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
@media (min-width: 1300px) {
  .contacts--desktop-nav .contacts__item--adress {
    max-width: 193px;
    padding-left: 26px;
  }
  .contacts--desktop-nav .contacts__item--schedule {
    padding-left: 31px;
  }
  .contacts--desktop-nav .contacts__item--phone {
    padding-left: 28px;
  }
  .contacts--desktop-nav .contacts__item--email {
    padding-left: 26px;
  }
}
.contacts__icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.contacts__schedule-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.contacts__phone-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.contacts__phone-link {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.contacts__link {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  text-align: left;
}
.contacts__link:hover {
  color: #0487D9;
}
.contacts__link:active {
  color: #0487D9;
  opacity: 0.3;
}
.social__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.social__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  color: #505050;
  background-color: #ffffff;
}
.social--big .social__link {
  width: 42px;
  height: 42px;
}
@media (max-width: 1299px) {
  .social--transform .social__link {
    width: 42px;
    height: 42px;
  }
}
.social--border .social__link {
  border-radius: 5px;
  border: 1px solid #606060;
}
.social--dark .social__link {
  color: #ffffff;
  background-color: #73C1F2;
}
.social__link--vk:hover {
  background-color: #1A76FF;
}
.social__link--vk:active {
  opacity: 0.3;
}
.social__link--whatsapp:hover {
  background-color: #00CD4C;
}
.social__link--whatsapp:active {
  opacity: 0.3;
}
.social__link--viber:hover {
  background-color: #7360F2;
}
.social__link--viber:active {
  opacity: 0.3;
}
.social__icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}
.social--big .social__icon--vk {
  width: 21px;
  height: 13px;
}
.social--big .social__icon--whatsapp {
  width: 25px;
  height: 25px;
}
.social--big .social__icon--viber {
  width: 23px;
  height: 22px;
}
@media (max-width: 1299px) {
  .social--transform .social__icon--vk {
    width: 21px;
    height: 13px;
  }
  .social--transform .social__icon--whatsapp {
    width: 25px;
    height: 25px;
  }
  .social--transform .social__icon--viber {
    width: 23px;
    height: 22px;
  }
}
.site-menu__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.site-menu__link {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  padding: 5px 0;
  text-align: left;
}
.site-menu__link:hover {
  color: #0487D9;
}
.site-menu__link:active {
  color: #0487D9;
  opacity: 0.3;
}
@media (min-width: 1300px) {
  .site-menu__link {
    padding: 16px 0 17px 0;
  }
}
.slider__toggles {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12px);
  gap: 12px;
  justify-content: center;
}
.slider__toggle {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #73C1F2;
}
.slider__toggle:hover {
  background-color: #0487D9;
}
.slider__toggle:active {
  background-color: #0487D9;
  opacity: 0.1;
}
.slider__toggle--current {
  background-color: #0487D9;
}
.page-header {
  box-sizing: border-box;
  min-height: 804px;
  color: #ffffff;
  background-color: #606060;
  background-image: url("../../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
}
@media (min-width: 1300px) {
  .page-header__content {
    padding-top: 81px;
  }
}
.page-header__tittle {
  box-sizing: border-box;
  width: 327px;
  padding-left: 7px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1300px) {
  .page-header__tittle {
    width: 593px;
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 65px;
    line-height: 75px;
  }
}
.page-header__phone {
  order: -1;
  margin-bottom: 34px;
}
@media (min-width: 1300px) {
  .page-header__phone {
    display: none;
  }
}
.page-header__phone-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 40px;
  background-image: url("../../img/phone.svg");
  background-size: 30px 30px;
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 30px;
  line-height: 41px;
  font-weight: 800;
}
.page-header__phone-link {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.page-header__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1300px) {
  .page-header__buttons-container {
    flex-direction: row;
    gap: 22px;
  }
}
@media (max-width: 1299px) {
  .page-header__button--staff {
    display: none;
  }
}
@media (min-width: 1300px) {
  .page-header__button--call {
    position: absolute;
    top: 0;
    right: 30px;
    transform: translateY(-100%);
  }
}
.main-nav {
  position: relative;
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #73C1F2;
  }
}
.main-nav__top-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 1300px) {
  .main-nav__top-bar {
    padding: 0 30px;
  }
}
.main-nav__top-bar::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  content: "";
}
@media (min-width: 1300px) {
  .main-nav__top-bar {
    padding-top: 22px;
    padding-bottom: 21px;
  }
  .main-nav__top-bar::after {
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__top-bar {
    flex-direction: column;
    padding-top: 82px;
    padding-bottom: 33px;
  }
  .main-nav--opened .main-nav__top-bar::after {
    width: 250px;
    border-bottom: 2px solid #ffffff;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .main-nav__toggle-container {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle-container {
  position: absolute;
  top: 13px;
  right: 35px;
  z-index: 1;
}
.main-nav__toggle {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 42px;
  height: 37px;
}
.main-nav__toggle:hover {
  color: #73C1F2;
}
.main-nav__toggle:active {
  color: #73C1F2;
  opacity: 0.3;
}
.main-nav--opened .main-nav__toggle {
  position: relative;
  width: 40px;
  height: 40px;
  color: #73C1F2;
  border-radius: 50%;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle:hover {
  color: #0487D9;
}
.main-nav--opened .main-nav__toggle:active {
  color: #73C1F2;
  opacity: 0.3;
}
.main-nav__toggle-icon--close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main-nav--closed .main-nav__toggle-icon--close {
  display: none;
}
.main-nav--opened .main-nav__toggle-icon--open {
  display: none;
}
.main-nav__logo-container {
  display: none;
}
@media (min-width: 1300px) {
  .main-nav__logo-container {
    display: block;
    width: 146px;
    margin-right: 105px;
  }
}
.main-nav__contacts {
  display: none;
}
@media (min-width: 1300px) {
  .main-nav__contacts {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__contacts {
    display: block;
    width: 280px;
  }
}
.main-nav__contacts-title {
  margin-bottom: 22px;
}
@media (min-width: 1300px) {
  .main-nav__contacts-title {
    display: none;
  }
}
@media (min-width: 1300px) {
  .main-nav__contacts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    width: 811px;
  }
}
.main-nav__bottom-bar {
  display: none;
  padding: 0 75px;
}
@media (min-width: 1300px) {
  .main-nav__bottom-bar {
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .main-nav__bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
  }
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
  }
}
.main-nav__site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}
@media (min-width: 1300px) {
  .main-nav__site-list {
    flex-direction: row;
    justify-content: space-between;
    width: 904px;
  }
}
@media (max-width: 1299px) {
  .main-nav--opened .main-nav__social {
    display: none;
  }
}
.main-nav__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 5px;
}
.catalog {
  padding-top: 590px;
}
@media (min-width: 1300px) {
  .catalog {
    padding-top: 396px;
  }
}
.catalog__title {
  margin: 0 auto;
  width: 309px;
  margin-bottom: 36px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  .catalog__title {
    width: auto;
    margin-bottom: 46px;
  }
}
.catalog__brend {
  margin-bottom: 38px;
}
@media (min-width: 1300px) {
  .catalog__brend {
    padding: 0 75px;
    margin-bottom: 78px;
  }
}
@media (min-width: 1300px) and (min-width: 1300px) {
  .catalog__brend {
    padding: 0 30px;
  }
}
@media (max-width: 1299px) {
  .catalog__brend-container {
    box-sizing: border-box;
    width: calc(100vw - 21.25px);
    padding-left: 16px;
    margin-bottom: 36px;
  }
}
@media (max-width: 1299px) {
  .catalog__brend-list {
    position: relative;
    overflow: hidden;
  }
}
.catalog__toggles-container {
  max-width: 132px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .catalog__toggles {
    display: none;
  }
}
.catalog__products {
  padding: 0 75px;
  margin-bottom: 39px;
}
@media (min-width: 1300px) {
  .catalog__products {
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .catalog__products {
    margin-bottom: 79px;
  }
}
.brend__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-auto-flow: column;
  gap: 28px;
  justify-content: start;
}
@media (min-width: 1300px) {
  .brend__list {
    grid-auto-flow: unset;
    gap: 83px;
    justify-content: center;
  }
}
.brend__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border: 4px solid #73C1F2;
  border-radius: 20px;
}
.products__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 40px;
  justify-content: center;
}
@media (min-width: 1300px) {
  .products__list {
    grid-template-columns: 1fr;
    grid-template-rows: 308px;
    gap: 17px;
  }
}
.products__item {
  display: grid;
  grid-template-rows: 308px 249px 275px;
}
@media (min-width: 1300px) {
  .products__item {
    grid-template-rows: 308px;
    grid-template-columns: 490px 453px 1fr;
    outline: 1px solid #606060;
    border-radius: 30px;
  }
}
.products__img img {
  width: 280px;
  height: 309px;
}
@media (min-width: 1300px) {
  .products__img img {
    width: 490px;
    height: 309px;
  }
}
.products__description {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 16px;
}
@media (min-width: 1300px) {
  .products__description {
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 8px;
  }
}
.products__description::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: calc(100% - 10px);
  height: 1px;
  background-color: #606060;
}
@media (min-width: 1300px) {
  .products__description::after {
    left: auto;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 1px;
    height: 100%;
    background-color: #606060;
  }
}
.products__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  .products__title {
    margin-bottom: 18px;
  }
}
.products__content {
  flex-grow: 1;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}
@media (min-width: 1300px) {
  .products__content {
    font-size: 16px;
    line-height: 20px;
  }
}
.products__content span {
  letter-spacing: -0.01em;
}
.products__content span:last-of-type {
  letter-spacing: -0.02em;
}
@media (min-width: 1300px) {
  .products__content span:first-of-type {
    line-height: 17px;
  }
}
.products__price {
  padding-left: 42px;
  padding-top: 3px;
  padding-bottom: 7px;
  background-image: url("../../img/price-icon.svg");
  background-position: top 0 left 0;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.products__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1300px) {
  .products__info {
    padding-top: 23px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 7px;
  }
}
.products__rating {
  align-self: start;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 119px;
  color: #73C1F2;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background-image: url("../../img/user.svg"), url("../../img/medal.svg");
  background-position: top left 24px, top left 69px;
  background-repeat: no-repeat;
  background-size: 24px 24px, 24px 24px;
}
.products__rating-value {
  display: block;
  margin-right: 6px;
}
.products__info-title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: center;
}
.products__info-buttons {
  display: grid;
  gap: 5px;
  justify-content: center;
  margin-bottom: 16px;
}
.products__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 5px;
  justify-content: center;
}
.stars {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 99px;
}
.stars__item {
  position: relative;
  width: 18px;
  height: 18px;
}
.stars__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.stars__item--current ~ .stars__item .stars__icon {
  color: #ffffff;
}
@media (min-width: 1300px) {
  .offer {
    padding: 0 113px;
  }
}
.offer__wrapper {
  min-height: 380px;
  color: #ffffff;
  background-color: #606060;
  background-image: -webkit-image-set(url("../../img/offer-mobile.webp"), url("../../img/offer-mobile.png"));
  background-image: image-set(url("../../img/offer-mobile.webp"), url("../../img/offer-mobile.png"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (min-resolution: 2dppx) {
  .offer__wrapper {
    background-image: -webkit-image-set(url("../../img/offer-mobile@2x.webp"), url("../../img/offer-mobile@2x.png"));
    background-image: image-set(url("../../img/offer-mobile@2x.webp"), url("../../img/offer-mobile@2x.png"));
    background-size: 860px auto;
  }
}
@media (min-width: 1300px) {
  .offer__wrapper {
    min-height: 450px;
    border-radius: 60px;
    outline: 13px solid #ffffff;
    outline-offset: -12px;
    background-image: -webkit-image-set(url("../../img/offer-desktop.webp"), url("../../img/offer-desktop.png"));
    background-image: image-set(url("../../img/offer-desktop.webp"), url("../../img/offer-desktop.png"));
  }
}
@media (min-width: 1300px) and (min-resolution: 2dppx) {
  .offer__wrapper {
    background-image: -webkit-image-set(url("../../img/offer-desktop@2x.webp"), url("../../img/offer-desktop@2x.png"));
    background-image: image-set(url("../../img/offer-desktop@2x.webp"), url("../../img/offer-desktop@2x.png"));
    background-size: 2194px auto;
  }
}
.offer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  padding-top: 71px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .offer__content {
    align-items: start;
    padding-top: 95px;
    padding-left: 88px;
    margin: 0;
  }
}
.offer__title {
  margin: 0;
  margin-bottom: 43px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1300px) {
  .offer__title {
    text-align: left;
  }
}
.equipment {
  padding-top: 39px;
}
@media (min-width: 1300px) {
  .equipment {
    padding-top: 46px;
    padding-bottom: 60px;
    color: #ffffff;
    background-color: #73C1F2;
  }
}
.equipment__title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  .equipment__title {
    margin-bottom: 69px;
  }
}
@media (max-width: 1299px) {
  .equipment__container {
    box-sizing: border-box;
    width: calc(100vw - 21.25px);
    padding-left: 75px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1300px) {
  .equipment__container {
    padding: 0 200px;
  }
}
.equipment__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 246px);
  grid-auto-flow: column;
  gap: 40px;
  justify-content: start;
}
@media (min-width: 1300px) {
  .equipment__list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
  }
}
.equipment__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.equipment__img {
  width: 240px;
  height: 240px;
  border: 3px solid #ffffff;
  border-radius: 20px;
}
.equipment__subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
.equipment__toggles-container {
  display: none;
}
.page-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    padding-top: 38px;
    padding-bottom: 33px;
  }
}
.page-footer__content {
  padding: 0 75px;
  padding-top: 39px;
  padding-bottom: 27px;
}
@media (min-width: 1300px) {
  .page-footer__content {
    padding: 0;
    margin-right: 10px;
  }
}
.page-footer__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .page-footer__content-wrapper {
    align-items: start;
    width: 240px;
  }
}
.page-footer__contacts {
  align-self: normal;
  margin-bottom: 28px;
}
.page-footer__logo-container {
  display: none;
}
@media (min-width: 1300px) {
  .page-footer__logo-container {
    display: block;
    margin-bottom: 16px;
  }
}
.page-footer__contacts-title {
  margin-bottom: 20px;
}
@media (min-width: 1300px) {
  .page-footer__contacts-title {
    display: none;
  }
}
.page-footer__social {
  margin-bottom: 23px;
}
@media (min-width: 1300px) {
  .page-footer__social {
    margin-bottom: 0;
  }
}
.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 16px;
}
@media (min-width: 1300px) {
  .page-footer__content-button-container {
    display: none;
  }
}
.page-footer__map {
  position: relative;
  width: 100%;
}
@media (min-width: 1300px) {
  .page-footer__map {
    outline: 3px solid #73C1F2;
    outline-offset: -3px;
    border-radius: 60px;
  }
}
.page-footer__map img {
  width: 100%;
}
.page-footer__map-button-container {
  position: absolute;
  right: 30px;
  bottom: 26px;
}
/*# sourceMappingURL=style.css.map */
